#app {
  font-family: 'Helvetica Neue', 'sans-serif';

  a {
    text-decoration: none;
    display: inline-block;
  }

  p#productName {
    text-wrap: standard;
    overflow-x: none;
  }

  img {
    padding: 5px;
    border: solid 2px lightgray;
  }
}